

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.caja-titulo{

	padding: 10px;
	background-color: #3C7C4B;
	font-style: italic;
	color: white;
}

h1 {
	font-weight: 900;
}

.texto{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.caja-botones{
	height: 33%;
	margin-bottom: 10px;
}

.boton{

	background-color: #60c276;
}

.enlace{
	color: white;
}

.enlace > .boton:hover{
	color: #60c276;
	background-color: white;
	border-color: #60c276;

}

/* 
*********************************
Cajas de formularios de seleccion
*********************************
*/


.titulo{

	padding: 10px;
	font-style: italic;
	font-size: 20px;
	color: white;
}

.formulario{

	background-color: #60c276;
	padding: 15px;

}

label {
	color: white;
}

.caja-input{
	margin: 20px;
}

/* 
*********************************
			Botones
*********************************
*/
.boton-principal{

	background-color: #3C7C4B;
	color: white;
}

.boton-principal:hover{

	background-color: white;
}

.casilla-tabla{

	background-color: #3c7c4b;
	color: white;
}

.formText {
	background-color: #3C7C4B;
	padding: 10px;
}

/* 
*********************************
			Formularios
*********************************
*/


.formulario-actualizar{
	padding: 10px;
	background-color: #60c276;
	font-size: 18px;

}

/* 
*********************************
		Estilos de las tablas
*********************************
*/

.table th {
	background-color: #3C7C4B;
	color: white;
} 

.titulo-aparte{

	margin-left: 300px;
	margin-right: 300px;
	background-color: #3C7C4B;
	font-size: 18px;
	font-style: italic;
	padding: 5px;
	color: white;

}

.caja-input1{

	margin: 0 10px 10px 10px;
	padding: 10px;
}

.caja-proceso{

	background-color: #3c7c4b;
	margin-right: 60%;
	padding: 10px 15px 10px 15px;
	color: white;
	border-radius: 4px;
}

.caja-lista{

	font-size: 15px;
}

.imagen-boton{
	width: 25%;
}

.section-report {
	background-color: #60c276;
	color: white;
	padding: 15px;
}











